{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo">
            <a href="https://deco-serv.ru" target="_blank">
                <img src="{% static 'deco_logo.png' %}" alt="Логотип">
            </a>
        </div>
        <div class="contact-info">
            <p>Тел.: +7 495 930 83 59</p>
                <p>Почта: <a href="mailto:info@deco-serv.ru">info@deco-serv.ru</a></p>
        </div>
    </header>
    <main class="container">
        <h1>Добро пожаловать в мир компьютерной томографии!</h1>
        <p>
            Наше приложение создано, чтобы сделать знакомство с данными компьютерной томографии 
            простым и увлекательным. На календаре напротив каждой недели находится уникальный QR-код. 
            Сканируйте его, чтобы открыть окно в удивительный мир технологий. 
        </p>
        <img src="{% static 'calendar_qr.png' %}" alt="Пример календаря с QR-кодом" class="main-image">
    </main>
    <div class="container">
        <h2>Доступные видео:</h2>
            <div class="video-list">
            {% for video in videos %}
                <div class="video-card">
                    <h3>{{ video.title }}</h3>
                    <p>Дата доступа: {{ video.access_date|date:"d.m.Y" }}</p>
                    <a href="{% url 'video_page' video.week_number %}" class="button">Смотреть видео</a>
                </div>
            {% endfor %}
            </div>
    </div>
</body>
</html>