{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ video.title }}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo">
            <a href="https://deco-serv.ru" target="_blank">
                <img src="{% static 'deco_logo.png' %}" alt="Логотип">
            </a>
        </div>
        <div class="contact-info">
            <p>Тел.: +7 495 930 83 59</p>
                <p>Почта: <a href="mailto:info@deco-serv.ru">info@deco-serv.ru</a></p>
        </div>
    </header>
    <div class="container">
        <h1>{{ video.title }}</h1>
        <video controls disablepictureinpicture controlslist="nodownload">
            <source src="{{ video.file.url }}" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
        <a href="{% url 'home' %}" class="button">На главную</a>
    </div>
</body>
</html>